p {
	font: 1em "Trebuchet MS", Tahoma, "Helvetica", "Times New Roman", times, serif;
	color: #CCC;
}

/* Comment */

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:hover {
	color: red;
	font-weight: bold;
}

a:active {
	color: purple;
	text-decoration: none;
}

body {
	font-family: arial, helvetica;
	font-size: 100%;
	color: white;
	height: 100%;
	background-color: black;
}

h1 {
	text-align: center;
	margin: 0;
	padding: 1em 1em 1em 2em;
	font-size: 2.5em;
	font-style: bold;
	font-weight: normal;
}

h2 {
	margin: 1.5em 0 0 2.5em;
	padding: 2em 0 0 0;	
	color: white;
	font-size: 1.5em;
}

h3 {
	margin: 0 0 0 2em;
	padding: 2em 0 0 0;	
	color: white;
	font-size: 1.25em;
}

strong {
	font-style: italic;
	text-transform: uppercase;
}

li {
	color: black;
}

table {
	background-color: #ccc;
}

dt {
	font-weight: bold;
}

#top {
	padding: 1em
}

#top h1 {
	color: #ff0;
}

#top p {
	color: red;
	font-weight: bold;
}

.alternate {
	color: white;
	background-color: black;
}

#navigation {
	position: absolute;
	top: 0;
	left: 0;
	width: 10em;
}
	
#header {
    margin: 0;
    padding: 0;
	width: 100%;
}

#header ul {
	list-style: none;
	padding: 0;
	margin: 5px 0 0 5em;
}

#header li {
    float: left;
    margin: 0 1px 0 0;
	padding-left: 1em;
}

#header a {
	background: #000 url(images/tabs3.gif);
	color: #0AA;
    display: block;
    float: left;
    height: 2em;
    padding-left: 10px;
    text-decoration: none;
}

#header a:hover {
	color: white;
	text-decoration: none;
	font-weight: normal;
	background-position: 0 -120px;
}

#header a:hover span {
    background-position: 100% -120px;
}

#header ul li a:active {
	color: white;
	text-decoration: none;
	background-color: #000;
	background-position: 0 -60px;
}

#header ul li a:active span {
	background-position: 100% -60px;
}

#header #selected a {
    background-color: #000;
    background-position: 0 -60px;
    color: white;
}

#header #selected span {
    background-position: 100% -60px;
}

#header span {
    background: url(images/tabs3.gif) 100% 0;
    display: block;
    line-height: 2em;
    padding-right: 10px;
}

#content {
	margin-left: 2.5em;
	width: 100%
	clear: both;
}

#bordered{ 
	border: #FFF solid 1px; 
	padding: 3px;
}

.hR {
	min-height: 1px;
	clear: both;
	width: 90%;
	border-bottom: 1.75px solid #AAA;
	height: 1px;
	padding-top: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3.5em;
}

#main {
	margin-left: 3.5em;
	margin-right: 3.5em;
	padding-bottom: 3.5em;
}

#spacer {
	height: 60%;
}

/* This section used for typesetting LaTeX logos, taken from http://edward.oconnor.cx */
.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

/* End section */

::selection {
	background: #36F
}

::-moz-selection {
	background: #36F
}

